# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# Debug directories
debug/

# Output of 'npm pack'
*.tgz

# Coverage directory used by tools like istanbul
coverage/

# Optional REPL history
.node_repl_history

# pm2 logs
pids
*.pid
*.seed
*.pid.lock

# Optional eslint cache
.eslintcache

# Miscellaneous
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/

# Ignore lock files
package-lock.json
yarn.lock
